{% extends "base.html" %}
{% block body_block %}
	<div>
		<h2> Do you want to delete employee ? </h2>
		<h4> Details </h4>
	<div>
	<ul>
		<li><b>Name: </b> {{ employee.name }} </li>
		<li><b>Birthday: </b> {{ employee.birthday }} </li>
		<li><b>Street: </b> {{ employee.street }} </li>
		<li><b>city: </b> {{ employee.city}} </li>
		<li><b>phone: </b> {{ employee.phone }} </li>
		<li><b>zip_code: </b> {{ employee.zip_code }} </li>
		
	</ul>
	</div>
	<form method="POST">
            {% csrf_token %}
			<a href="javascript:history.back()"> Back </a>
			<input type="submit" value="Delete">
	</form>
	</div>
{% endblock %}