{% block title %} All Employees {% endblock %}
{% block body %}
	<h1> Listing Employees </h1>
		{% if employee_list %}
			<table border="1">
				<tr>
					<th>Name</th>
					<th>Address</th>
			        <th>Age</th>
			        <th>Email</th>
			        <th>Birthday</th>
				</tr>
			{% for employee in employee_list %}
			<tr>
				<td>{{ employee.name }}</td>
				<td>{{ employee.address }}</td>
			    <td>{{ employee.age}}</td>
				<td>{{ employee.email }}</td>
				<td>{{ employee.birthday}}</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
	<p> There are currently no employee to display </p>
{% endif %}
{% endblock %}